
@media screen and (max-width: 767px) {
    .HomePage_Header {
        height: 24vh;
        position: relative;
    }

    .HeaderLogo {
        width: 13%;
        height: 50%;
        margin-top: 3%;
    }

    .HomePage_HeaderWrapper {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .Search_Icons {
        display: none;
    }

    .HeaderLogo img {
        width: 85%;
        height: 85%;
    }

    .Search_Bar {
        width: 90%;
        height: 30%;
        border-radius: 29px;
        position: absolute;
        top: 64%;
        left:5%;
        font-size: 19px;
        padding-left: 5%;
    }

    .Header_Pages {
        display: none;
    }

    .Header_Profile {
        width: 28%;
        height: 70%;
    }
    
    .Header_Profile h3{
        font-size: 15px;
    }

    .PopUp_Desktop {
        width: 35%;
        height: 70vh;
    }

    .PopUp_Desktop ul li{
        font-size: 14px;
    }
    
    .HomePage_Main {
        margin-top: 2%;
        height: 60vh;
        margin-bottom: 7vh;
    }
    
    .HomePage_Events img{
        border-radius: 5px;
    }
    
    .Home_EventDesc {
        width: 90%;
        height: 11%;
    }
    
    .Home_EventDesc h2{
        font-size: 17px;
    }

    .Header_Category {
        height: 35vh;
    }

    .Category_card {
        width: 32%;
    }

    .Category_card img{
        border-radius: 2px;
    }
    
    .Upcoming_EventsDetails {
        width: 100%;
        height: 26vh;
    }
    
    .Upcoming_EventImage {
        width: 30%;
    }   

    .Upcoming_EventImage img{
        border-radius: 3px;
    }  

    .Upcoming_EventDesc {
        width: 67%;
    }

    .Upcoming_EventDesc span{
        font-size: 16px;
    }

    .Upcoming_EventDesc h2{
        font-size: 20px;
    }

    .Upcoming_EventDesc h1{
        font-size: 21px;
    }

    .Ticket_Line {
        height: 2%;

  }
}

  @media screen and (max-width:430px){

    .HomePage_Header {
        height: 24vh;
        position: relative;
    }

    .HeaderLogo {
        width: 18%;
        height: 40%;
        margin-top: 5%;
    }

    .HomePage_HeaderWrapper {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .Search_Icons {
        display: none;
    }

    .HeaderLogo img {
        width: 85%;
        height: 85%;
    }

    .Search_Bar {
        width: 90%;
        height: 26%;
        border-radius: 29px;
        position: absolute;
        top: 64%;
        left:5%;
        font-size: 19px;
        padding-left: 5%;
    }

    .Header_Pages {
        display: none;
    }

    .Header_Profile {
        width: 43%;
        height: 55%;
        margin-top: 1%;
    }
    
    .Header_Profile h3{
        font-size: 14px;
    }

    .PopUp_Desktop {
        width: 35%;
        height: 70vh;
    }

    .PopUp_Desktop ul li{
        font-size: 14px;
    }
    
    .HomePage_Main {
        margin-top: 2%;
        height: 40vh;
        margin-bottom: 10vh;
    }
    
    .HomePage_Events img{
        border-radius: 5px;
    }
    
    .Home_EventDesc {
        width: 90%;
        height: 11%;
    }
    
    .Home_EventDesc h2{
        font-size: 17px;
    }

    .Home_EventDesc h1{
        font-size: 19px;
    }

    .Header_Category {
        height: 35vh;
    }

    .Category_card {
        width: 45%;
        height: 80%;
    }

    .Header_CategoryContent {
        height: 5%;
    }

    .Header_CategoryContent h4{
        font-size: 14px;
    }

    .Category_card img{
        border-radius: 2px;
    }

    .Upcoming_EventsDetails {
        display: none;
    }
    
    .Upcoming_EventsDetailsM {
        display: flex;
        width: 100%;
        height: 15vh;
    }
    
    .Upcoming_EventImage {
        width: 31%;

    }   

    .Upcoming_EventImage img{
        border-radius: 3px;
    }  

    .Upcoming_EventDesc {
        width: 65%;
        height: 100%;
        /* background: #000; */
    }

    .Category_card h4{
        font-size: 13px;

    }

    .Upcoming_EventDesc span{
        font-size: 12px;
    }

    .Upcoming_Location {
        font-size: 16px;
    }

    .Upcoming_EventDesc h2{
        font-size: 15px;
    }

    .Upcoming_EventDesc h1{
        font-size: 16px;
    }

    

  }

 
  /* Media queries for tablets */
  @media screen and (min-width: 768px) and (max-width: 1023px) {

    .HeaderLogo img {
        width: 70%;
        height: 60%;
    }

    .Search_Icons {
        color: #ffffff79;
        font-size: 20px;
        position: absolute;
        left: 19%;
    }

    .Search_Bar {
        width: 35%;
        height: 42%;
        font-size: 15px;
        padding-left: 45px;
    }

    .Pages_Profile {
        width: 40%;
    }

    .Header_Pages ul li{
        font-size: 11px;
    }

    .Header_Pages {
        width: 80%;
    }

    .Header_Profile {
        width: 12.5%;
        height: 100%;
        display: flex;
        align-items: center;
        font-family: sans-serif;
        justify-content: end;
        gap: 6%;
    }

    .Profile_Image {
        width: 96%;
        height: 60%;
    }

    .HomePage_Main {
        height: 80vh;
    }

    .Category_card {
        width: 25%;
        height: 80%;
    }

    .Category_card img{
        border-radius: 2px;
    }

    .Category_card h4{
        font-size: 14px;
    }

    .Upcoming_EventsDetails {
        width: 100%;
        height: 38vh;
    }

    .Upcoming_EventImage {
        width: 32%
    }   

    .Upcoming_EventImage img{
        border-radius: 2px;
    }    

    .Upcoming_EventDesc {
        width: 65%;
        height: 100%;
    }
    
    /* .Upcoming_EventDesc h2{
        font-size: 16px;
    }

    .Upcoming_EventDesc h1{
        font-size: 18px;
    }

    .Upcoming_EventDesc span{
        font-size: 13px;
    }

    .Upcoming_Location {
        font-size: 15px;
    } */
  }




@media screen and (min-width: 920px) and (max-width: 997px) {
    
    .Profile_Image {
        width:50%;
        height: 60%;
  }

  .PopUp_Desktop {
    width: 22%;
  }

  @media screen and (min-width: 433px) and (max-width: 560px) {
    .Profile_Image {
        width: 50%;
        height: 65%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 830px) {
    .Profile_Image {
        width: 00%;
        height: 65%;
    }
  }



}

@media screen and (min-width: 997px) and (max-width: 1023px) {
    
    .Profile_Image {
        width: 50%;
        height: 60%;
  }
}