/*TABLET SCREEN*/

@media screen and (max-width:900px) {
    .CodeImage{
        height: 70%;
        
    }
    .CodeIcon{
        font-size: 30px;
    }
    .BackSectionAndSeatHolder{
        height: 15%;
    }
    .CodeText{
        font-size: 12px;
        font-weight: lighter;
    }
    .BackCodeHolderAndPartyHolder{
        height: 50%;
    }
    .BackCode{
        height: 80%;
        width: 55%;
    }
    .Graduation{
        font-size: 12px;
        font-weight: lighter;
    }
}
/*MOBILE SCREEN*/

@media screen and (max-width:600px) {
    .CodeImage{
        height: 50%;
        
    }
    .CodeIcon{
        font-size: 20px;
    }
    .BackSectionAndSeatHolder{
        height: 13%;
    }
    .CodeText{
        font-size: 10px;
        font-weight: lighter;
    }
    .BackCodeHolderAndPartyHolder{
        height: 40%;
    }
    .BackCode{
        height: 70%;
        width: 50%;
    }
    .Graduation{
        font-size: 10px;
        font-weight: lighter;
    }
}