*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.BackCodeHolder{
    height: 100vh;
    width: 100%;
    /* background-color:orangered ; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.CodeHolder{
    height: 80%;
    width: 45%;
    background-color: #08022f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.BackLogoHolder{
    height: 18%;
    width: 90%;
    /* background-color: rgb(234, 202, 218); */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.CodeImage{
    height: 70%;
    
}
.CodeIcon{
    font-size: 35px;
    color: aliceblue;
}
.BackSectionAndSeatHolder{
    height: 20%;
    width: 60%;
    /* background-color: darkgoldenrod; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.CodeText{
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    color: aliceblue;
    font-weight: bolder;
}
.BackCodeHolderAndPartyHolder{
    height: 60%;
    width: 100%;
    /* background-color: deepskyblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.BackCode{
    height: 82%;
    width: 40%;
    background-color: transparent;
    border: 1px solid grey;
}
.Graduation{
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    color: aliceblue;
    font-weight: bolder;
}