*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.checkoutcontainer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkoutholder{
    width: 90%;
    height: 210vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkoutcontainer .checkoutholder .checkoutlogo{
    width: 100%;
    height: 5%;
}

.checkoutlogo .checkoutimage{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.checkoutimage img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.checkouteventimage{
    width: 90%;
    height: 40%;
    background-color: red;
    margin-top: 15px;
    border-radius: 10px;
}

.imagecheckout{
    width: 100%;
    height: 100%;
    background-color: rgb(241, 238, 238);
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 5px;
}

.imagecheckout img {
    width: 100%;
    height: 100%;
}

.checkoutholder p{
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin-top: 10px;
}

.checkouteventdetails{
    width: 90%;
    height: 280px;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    flex-direction: column;
}

.checkoutvenue{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkoutvenue .checkoutdetails{
    width: 100%;
    height: 25%;
    background-color: #d9d9d977;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
}

.checkoutticket{
    width: 30%;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.allticket{
    width: 95%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allticket h2{
    font-size: 20px;
}
.chooseticket{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: #08022F;
    color: white;
}

.checkoutvenue .checkoutdetails p{
    font-size: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.buttonticket{
    width: 30%;
    height: 50%;
    background-color: white;
    border: none;
    border-radius: 4px;
}

.checkoutdescription-checkout{
    width: 90%;
    height: 30%;
    margin-top: 6%;
    color: white;
    /* background-color: yellow; */
}

.checkoutdescription{
    width: 100%;
    height: 200%;
}

.checkoutdescription p{
  font-size: 20px;
  padding-top: 10px;
}

.booknow{
    width: 90%;
    height: 20%;
    background-color: #FCA702;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.booknow:active{
    transition: 300ms ease-in;
    box-shadow: 0 5px #666;
    transform: translatey(4px);
  }
  
  .booknow:hover{
    color: white;
    transition: 0.6s;
  }

.commentsection{
    width: 100%;
    height: 70%;
}

.todolistcomment{
    width: 100%;
    height: 15%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userprofile{
    width: 5%;
    height: 90%;
    border-radius: 40px;
    background-color: black;
}

.comment{
    width: 60%;
    height: 90%;
    background-color: white;
    border: 1px solid rgb(126, 123, 123);
    border-radius: 40px;
    padding-left: 10px;
}

.todolistcomment .send{
    width: 10%;
    height: 70%;
    background-color: #303482;
    color: white;
    border-radius: 10px;
   border:none;
}

.Checkout_PopUp {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.39);
  }

.CheckOut_Content {
    width: 50%;
    height:450px;
    background: #FCA702;
    border-radius: 5px;
    top: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #08022F;
    gap: 5%;
}

.CheckOut_Input {
    width: 60%;
    height: 10%;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: white;
    color: #08022F;
    border: 1px solid black;
    padding-inline: 8px;
}

.CheckOut_Input:focus {
    background-color: #08022F;
    color: white;
    border: none;
}

.CheckOut_Input:placeholder-shown {
    font-weight: bold;
}

.CheckOut_Btns {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.CheckOut_CancelBtn, .CheckOut_ConfirmBtn {
    width: 45%;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    outline: none;
}

.CheckOut_CancelBtn {
    background-color: black;
    color: white;
}

.CheckOut_ConfirmBtn {
    background-color: #08022F;
    color: white;
}

.Purchase_ContBtn {
    width: 23%;
    border-radius: 5px;
    height: 47px;
    background: #08022F;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
}

.quantity{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    gap: 60%;
    padding-left: 10px;
    font-size: 13px;
}

.totalamount{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    gap: 60%;
    padding-left: 10px;
    font-size: 13px;
}


.Rateandreviewcontainer{
    width: 100%;
    height: max-content;
    background-color: #08022F;
    display: flex;
    justify-content: center;
}

.RateandreviewHolder{
    width: 90%;
    height: max-content;
    background-color: #08022F;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 10px;
    padding: 1%;
}

.RateandreviewHeader{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RateandreviewHeaderimage{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.RateandreviewHeaderimage img{
    width: 60px;
    height: 60px;

}

.RateandreviewHeaderprofile{
    width: 60px;
    height: 60px;
    border: 1px solid goldenrod;
    border-radius: 40px;
}

.sectionTwoRateandReview{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4b4a4ad0;
    margin-top: 7%;
}

.ratediscription{
    width: 50%;
    height: 100%;
    color: white;
}

.rateresult{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 0;
    justify-content: start;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    font-size: 20px;
    color: #faa906;
    margin: 0 2px;
    cursor: pointer;
  }
  
  .rating label:before {
    content: "\2605";
  }
  
  .rating input[type="radio"]:checked ~ label:before {
    /* content: "\2606"; */
    color: #948e83;
  }

  .imagerateandreview{
    width: 35%;
    height: 50%;
    border:  1px solid gold;
    border-radius: 5px;
  }

  .rateicons{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;

  }

  .numbersofreview{
    display: flex;
    gap: 10px;
  }

  .ratediscriptionholder p{
    margin-top: 10px;
    font-size: 15px;
    width: 50%;
  }

  .ratediscriptionholder h3{
    font-size: 18px;
    margin-top: 10px;
  }

  .resultone{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5%;
    color: #cecacad0;
  }

  .resultline{
    width: 80%;
    height: 6px;
    border-radius: 5px;
    background-color: #3a3a3aa8;
  }

  .numbersofstar{
    display: flex;
    gap: 5px;
  }

  .sectionthree{
    width: 100%;
    height: 10vh;
    margin-top: 10px;
    color: white;
    font-size: 15px;
  }

  .ratingdiv{
    width: 100%;
    height: 40%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .ratingdiv .handlestar{
    width: 50%;
    height: 80%;
    background-color: #3a3a3aa8;
    border: none;
    color: white;
    border-radius: 5px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .starcontroler{
    font-size: 50px;
  }

  .ratingdiv select option{
    background-color: white;
    color: black;
  }

  .commentsectionrating{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
}

  .commentsectionrating input{
    width: 100%;
    height: 10px;
    background-color: #3a3a3aa8;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    padding: 1%;
    padding-inline: 10px 10px;
    margin-top: 20px;
}

.submitratings{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submitratings button{
    width: 15%;
    height: 70%;
    background-color: #303482;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
}


.submitratings button:active{
    transition: 300ms ease-in;
    box-shadow: 0 5px #666;
    transform: translatey(4px);
  }
  
  .submitratings button:hover{
    background-color:  #303482;
    color: white;
    cursor: pointer;
  }

  .yellow-background {
    background-color: yellow;
}

.todo-list-holder{
    width: 100%;
    height: 300px;
}

.todo-list{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #3a3a3aa8;
    color: white;
    padding-top: 3%;
    position: relative;
}

.delectbtn{
    color: red;
    font-size: 20px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.likeanddislike{
    width: 10%;
    height: 20%;
    display: flex;
    position: absolute;
    bottom: 5px;
    
}

.liketoggle{
    width: 50%;
    height: 100%;
    display: flex;
}


.disliketoggle{
    width: 50%;
    height: 100%;
    display: flex;

}

.dislikecolor{
    color: rgb(230, 74, 74);
}

.likecolor{
    color: rgb(17, 76, 240);
}

.everydetailsholder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}