*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.checkoutcontainer{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.checkoutholder{
    width: 90%;
    height: 250vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkoutcontainer .checkoutholder .checkoutlogo{
    width: 100%;
    height: 5%;
}

.checkoutlogo .checkoutimage{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.checkoutimage img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.checkouteventimage{
    width: 90%;
    height: 40%;
    background-color: red;
    margin-top: 15px;
    border-radius: 10px;
}

.imagecheckout{
    width: 100%;
    height: 100%;
    background-color: rgb(241, 238, 238);
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 5px;
}

.imagecheckout img {
    width: 100%;
    height: 100%;
}

.checkoutholder p{
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin-top: 10px;
}

.checkouteventdetails{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.checkoutvenue{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkoutvenue .checkoutdetails{
    width: 100%;
    height: 25%;
    background-color: #d9d9d977;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
}

.checkoutticket{
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allticket{
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allticket h2{
    font-size: 20px;
}
.chooseticket{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: #08022F;
    color: white;
}

.checkoutvenue .checkoutdetails p{
    font-size: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.buttonticket{
    width: 30%;
    height: 50%;
    background-color: white;
    border: none;
    border-radius: 4px;
}

.checkoutdescription-checkout{
    width: 90%;
    height: 50%;
    margin-top: 6%;
    color: white;
}

.checkoutdescription{
    width: 100%;
    height: 30%;
}

.checkoutdescription p{
  font-size: 20px;
  padding-top: 10px;
}

.booknow{
    width: 100%;
    height: 10%;
    background-color: #FCA702;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

.commentsection{
    width: 100%;
    height: 70%;
}

.todolistcomment{
    width: 100%;
    height: 15%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userprofile{
    width: 5%;
    height: 90%;
    border-radius: 40px;
    background-color: black;
}

.comment{
    width: 60%;
    height: 90%;
    background-color: white;
    border: 1px solid rgb(126, 123, 123);
    border-radius: 40px;
    padding-left: 10px;
}

.todolistcomment .send{
    width: 10%;
    height: 70%;
    background-color: #303482;
    color: white;
    border-radius: 10px;
   border:none;
}

.Checkout_PopUp {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.39);
  }

.CheckOut_Content {
    width: 50%;
    height:450px;
    background: #FCA702;
    border-radius: 5px;
    top: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #08022F;
    gap: 5%;
}

.CheckOut_Input {
    width: 60%;
    height: 10%;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: white;
    color: #08022F;
    border: 1px solid black;
    padding-inline: 8px;
}

.CheckOut_Input:focus {
    background-color: #08022F;
    color: white;
    border: none;
}

.CheckOut_Input:placeholder-shown {
    font-weight: bold;
}

.CheckOut_Btns {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.CheckOut_CancelBtn, .CheckOut_ConfirmBtn {
    width: 45%;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    outline: none;
}

.CheckOut_CancelBtn {
    background-color: black;
    color: white;
}

.CheckOut_ConfirmBtn {
    background-color: #08022F;
    color: white;
}

.Purchase_ContBtn {
    width: 23%;
    border-radius: 5px;
    height: 47px;
    background: #08022F;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
}