   @media screen and (max-width:430px){
    .logIn {
        justify-content: center;
    }

    .input_LogIn {
        width: 90%;
        /* gap: 4%; */
    }

    .LogIn_logo {
        height: 20%;
        /* background-color: aqua; */
        align-items: end;
        justify-content: space-between;
    }

    .LogIn_logo img{
        width: 19%;
        height: 49%;
    }

    /* .Reg_Route{
        display: flex;
    } */

    .image_LogIn {
        display: none;
    }

    .back_Arrow, .Reg_Route {
        display: flex;
        align-self: flex-start;
        font-size: 25px;
        margin-top: 20%;
    }
    
    .LogIn_logo span {
        color: rgb(255, 178, 29);
        font-size: 13px;
    }

    .user_Auth_wrapper h1 {
        display: none;
    }

    .user_Auth_wrapper .Input_auth input{
        width: 80%;
        font-size: 13px;
        height: 14%;
        padding: 8px;
     }



     .labels{
        font-size: 13px;
        margin-left: 10%;
        margin-top: 5%;
     }

     .auth_Action {
        width: 80%;
     }

     .login_Btn {
        font-size: 15px;
        height: 33%;
     }

     .auth_Action a,  .auth_Action p {
        font-size: 12px;
     }

     .auth_Action span {
        font-size: 13px;
     }

     .password_Visibility {
        top: 36%;
        right: 13.5%;
     }
}

@media screen and (min-width:431px) and (max-width:1024px){
    .logIn {
        justify-content: center;
    }

    .input_LogIn {
        width: 90%;
    }

    .logo {
        height: 28%;
        /* background-color: aqua; */
        align-items: end;
        justify-content: space-between;
    }

    .logo img{
        width: 15%;
        height: 60%;
    }

    .image_LogIn {
        display: none;
    }

    .back_Arrow, .logo span {
        display: flex;
        align-self: flex-start;
        margin-top: 3%;
    }

    .user_Auth {
        width: 100%;
        height: 95%;
        font-family: sans-serif;
        color: white;
    }
    
    .logo span {
        color: rgb(255, 178, 29);
        font-size: 13px;
    }

    .user_Auth_wrapper h1 {
        display: flex;
    }

    .user_Auth_wrapper h1 span{
        margin-inline: 10px;
    }

    .user_Auth_wrapper .Input_auth input{
        width: 80%;
        font-size: 13px;
        height: 30%;
        padding: 8px;
     }

     .labels{
        font-size: 13px;
        margin-left: 10%;
        margin-top: 4%;
     }

     .auth_Action {
        width: 80%;
        height: 80%;
     }

     .login_Btn {
        font-size: 18px;
        height: 50px;
     }

     .auth_Action a,  .auth_Action p {
        font-size: 15px;
     }

     .auth_Action span {
        font-size: 15px;
     }

     .password_Visibility {
        top: 50%;
        right: 13.5%;
     }
}

@media screen and (min-width:9050px) and (max-width:1024px){
    .logo img{
        width: 13%;
        height: 60%;
    }

    .user_Auth_wrapper h1{
        font-size: 38px;
    }

    .user_Auth_wrapper .Input_auth input{
        width: 80%;
        font-size: 13px;
        height: 21%;
     }
}

@media screen and (min-width:431px) and (max-width:519px){
    .logo img{
        width: 18%;
    }
    
    .user_Auth_wrapper h1{
        font-size: 26.5px;
    }

}