@media only screen and (max-width : 768px){
    .Update_UserProfileWrapper{
        width: 100%;
        height: 100%;
        background-color: #08022F;
    }

    .Update_UserProfileWrapper_Container{
        width: 100%;
        height: 100%;
    }

    .Cancel_Btn{
        width: 40%;
        height: 70%;
    }

    .Update_Btn{
        width: 40%;
        height: 70%;
    }

    .Update_Body{
        flex-direction: column;
    }

    .Profile_PicturePart{
        width: 100%;
        height: 30%;
    }

    .Profile_DetailsPart{
        width: 100%;
        height: 70%;
        gap: 10px;
        align-items: center;

    }

    .Profile_DetailsPart input{
        color: white;
    }

    .directiontodifferentpage{
        display: block;
        width: 100%;
        height: 10vh;
        background-color: #08022F;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 90%;
        position: fixed;
        border-radius:  20px 20px 0px 0px;
       } 

       .Homedirection{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7px;
        color: #705F5F;
       }

       .directionmain{
        font-size: 30px;
        color: #705F5F;
       }

       .Homedirection:active{
        transition: 300ms ease-in;
        box-shadow: 0 5px #666;
        transform: translatey(4px);
      }
    
      
      .directionmain:hover{
        color: #FFA800;
        transition: 0.6s;
      }
      
      
      .directionmain:active{
        transition: 300ms ease-in;
        box-shadow: 0 5px #666;
        transform: translatey(4px);
      }

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .Update_UserProfileWrapper{
        width: 80%;
        height: 80%;
    }

    .directiontodifferentpage{
        display: none;
    }

    .Update_UserProfileWrapper{
        margin-left: 0%;
    }
}