.Update_UserProfile{
    width: 100%;
    height: 100vh;
    background: #08022F;
    padding-top: 1%;
}

.Update_UserProfileWrapper {
    width: 45%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: #08022F;
    /* align-items: center; */
    justify-content: center;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    border-radius: 10px;
    margin-left: 1%;
}

.Update_UserProfileWrapper_Container {
    width: 100%;
    height: 100%;
    background-color: #08022F;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 217, 0, 0.493);
    /* padding-top: 1%; */
}

.Update_Header {
    width: 96%;
    height: 7%;
    display: flex;
    align-items: end;
}

.Line_Break {
    width: 96%;
    height: 1px;
    background: #0000003d;
}

.Update_Body {
    width: 96%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.Profile_PicturePart {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 3%;
    gap: 5%;
    flex-direction: column;
}

.Profile_DetailsPart {
    width: 65%;
    height: 100%;
    /* background: aqua; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.Profile_DetailsPart label{
    font-size: 12px;
    margin-top: 2.5%;
}

.Profile_DetailsPart input{
    width: 90%;
    height: 10%;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgb(211, 211, 211);
    background-color: transparent;
}

.Profile_DetailsPart .Update_Buttons{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.Cancel_Btn, .Update_Btn{
    width: 47%;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    /* font-size: 14px; */
}

.Cancel_Btn {
    border: 2px solid rgba(211, 211, 211, 0.863);
}

.Cancel_Btn:hover {
    border: 2px solid rgba(211, 211, 211, 0.863);
}


.Update_Btn {
    background-color: rgb(255, 178, 29);
    color: rgba(255, 255, 255, 0.815);
}

.Profile_PictureUpdate {
    width: 105px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgb(255, 178, 29);
    background: #000;
}

.Profile_PictureUpdate img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(255, 178, 29);
}

.image_Upload {
    padding: 10px;
    padding-block: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    /* border: 1px solid red;
    outline: auto; */
    background: #000;
    color: white;
}

.ProfilePopUp {
    width: 20%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    position: fixed;
    top: 57%;
    border-radius: 5px;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}