@media only screen and (max-width: 768px) {
    .mypasswordraper{
        width: 85%;
        height: 50%;
    }

    .mypasswordraper button{
        height: 55px;
    }

    .mypasswordraper input{
        height: 55px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px){
    .mypasswordraper{
        width: 60%;
        height: 50%;
    }

    .mypasswordraper button{
        height: 70px;
    }

    .mypasswordraper input{
        height: 70px;
    }
}