*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Holders{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.EmailHolder{
    height: 95vh;
    width: 75%;
    background-color:#08022F;
}
.ForgetPasswordAndLogoHolder{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 17%;
}
.ForgetPassword{
    font-family:  'Roboto', sans-serif;
    font-size: 22px;
    color: aliceblue;
    font-weight: lighter;
 }
.ForgetPassword:hover{
    border-radius: 3px;
    color: #FCA702;
    cursor: pointer;
    transition: all 850ms;
 }
 .ForgetPasswordLogo{
    width: 10%;
}
.EnterEmailAndSendCodeHolder{
    height: 50vh;
    width: 100%;
}
.EnterEmailHolder{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.EnterEmailHolderText{
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    color: aliceblue;
    font-weight: lighter;
}
.EnterEmailHolderText:hover{
    border-radius: 3px;
    color: #FCA702;
    cursor: pointer;
    transition: all 850ms;
}
.EmailAndSendCodeHolder{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    }
.TextEmail{
    font-family:  'Roboto', sans-serif;
    font-size: 13px;
    color: aliceblue;
    font-weight: lighter;
}
.TextEmail:hover{
    border-radius: 3px;
    color: #FCA702;
    cursor: pointer;
    transition: all 850ms;
}
.EmailInput{
    height: 27%;
    width: 27%;
    border: none;
    background-color: transparent;
    border: 1px solid aliceblue;
    border-radius: 4%;
    color: aliceblue;
}
.SendCodeText{
    font-family:  'Roboto', sans-serif;
    font-size: 10px;
    padding-inline: 3px;
    padding-block: 4px;
    background-color: #FCA702;
    color: white;
}
.SendCodeText:hover{
    border-radius: 3px;
    color: aliceblue;
    cursor: pointer;
    transition: all 850ms;
}



.Holderss{
   display: none;
}
