@media screen and (max-width:900px) {
    .EmailInput{
        width: 45%;
    }
}

@media screen and (max-width:500px) {
    .Holders{
        display: none;
    }
   .Holderss{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .EmailHolderr{
    height: 95vh;
    width: 75%;
    background-color:#08022F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   .ForgetPasswordAndLogoHolderr{
        height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15%;
      }
      .ForgetPasswordd{
        font-family:  'Roboto', sans-serif;
        font-size: 25px;
        color: aliceblue;
        font-weight: lighter;
     }
    .ForgetPasswordd:hover{
        border-radius: 3px;
        color: #FCA702;
        cursor: pointer;
        transition: all 850ms;
     }
     .ForgetPasswordLogoo{
        width: 30%;
     }
     .EnterEmailHolderTextt{
        font-family:  'Roboto', sans-serif;
        font-size: 18px;
        color: aliceblue;
        font-weight: lighter;
        text-align: center;
    }
    .EnterEmailHolderTextt:hover{
        border-radius: 3px;
        color: #FCA702;
        cursor: pointer;
        transition: all 850ms;
    }
    .EnterEmailAndSendCodeHolderr{
        height: 40vh;
        width: 95%;
      }
      .TextEmaill{
        font-family:  'Roboto', sans-serif;
        font-size: 13px;
        color: aliceblue;
        font-weight: lighter;
    }
    .TextEmaill:hover{
        border-radius: 3px;
        color: #FCA702;
        cursor: pointer;
        transition: all 850ms;
    }
    .EmailInputt{
        height: 15%;
        width: 100%;
        border: none;
        background-color: transparent;
        border: 1px solid aliceblue;
        border-radius: 4%;
        color: aliceblue;
    }
    .SendCodeTextt{
        font-family:  'Roboto', sans-serif;
        font-size: 14px;
        color: aliceblue;
        font-weight: lighter;
        text-align: center;
    }
    .SendCodeTextt:hover{
        border-radius: 3px;
        color: #FCA702;
        cursor: pointer;
        transition: all 850ms;
}

}
