*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .CreateMain{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
   align-items: center;
  }
  
  .createheader{
    width: 95%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
  
  .image4{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 10px;
  }
  
  .image4 img{
    width: 30%;
    height: 70%;
  }
  
  .profile{
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: end;
    font-size: 9px;
    color: white;
    align-items: center;
  
  }
  
  .circle{
    width: 20%;
    height: 80%;
    border-radius: 40px;
    border: 1px solid gold;
    margin-right: 7px;
    cursor: pointer;
  }
  
  .eventname{
    width: 50%;
    height: 300px;
    color: white;
    font-size: 22px;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  }

  .eventnameinput{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .eventdiscription{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .eventdiscription input{
    width: 100%;
    height: 70%;
    background-color: #79797983;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    color: white;
    outline: none;
  }
  
  .eventnameinput input{
    width: 100%;
    height: 70%;
    background-color: #79797983;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    color: white;
    outline: none;
  }

  .eventnameinput h4{
    font-size: 15px;
  }

  .eventdiscription h4{
    font-size: 15px;
  }

  .timedate{
    width: 50%;
    height: 250px;
    color: white;
    font-size: 22px;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .datetimecategory{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
  }

  .Venuecategory{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
  }

  .datetimecategory .holdersone{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .datetimecategory .holderstwo{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .datetimecategory .holdersthree{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .Venuecategory .holdersfour{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .Venuecategory .holdersfive{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .Venuecategory .holderssix{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .datetimecategory .holdersone input{
    width: 100%;
    height: 70%;
    background-color: #79797983;
    border: none;
    padding-left: 10px;
    color: white;
    border-radius: 8px;
    outline: none;
  }

  
  .datetimecategory .holderstwo input{
    width: 100%;
    height: 70%;
    background-color: #79797983;
    border: none;
    padding-left: 10px;
    color: white;
    border-radius: 8px;
    outline: none;
  }

  
  .datetimecategory .holdersthree input{
    width: 100%;
    height: 70%;
    background-color: #79797983;
    border: none;
    padding-left: 10px;
    color: white;
    border-radius: 8px;
    outline: none;
  }

  
  .Venuecategory .holdersfour input{
    width: 100%;
    height: 70%;
    background-color: #79797983;
    border: none;
    padding-left: 10px;
    color: white;
    border-radius: 8px;
    outline: none;
  }

  
  .Venuecategory .holdersfive select{
    width: 100%;
    height: 70%;
    background-color: #79797983;
    border: none;
    padding-left: 10px;
    color: white;
    border-radius: 8px;
    outline: none;
  }

  
  .Venuecategory .holderssix input{
    width: 100%;
    height: 70%;
    background-color: #79797983;
    border: none;
    padding-left: 10px;
    color: white;
    border-radius: 8px;
    outline: none;
  }

  .datetimecategory .holdersone h4{
    font-size: 15px;
  }

  .datetimecategory .holderstwo h4{
    font-size: 15px;
  }

  .datetimecategory .holdersthree h4{
    font-size: 15px;
  }

  .Venuecategory .holdersfour h4{
    font-size: 15px;
  }

  .Venuecategory .holdersfive h4{
    font-size: 15px;
  }

  .Venuecategory .holderssix h4{
    font-size: 15px;
  }
  
  .imageUpload{
    width: 50%;
    height: 300px;
    display: flex;
    align-items: end;
  }

  .putimage{
    width: 50%;
    height: 80%;
    background-color: #79797983;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
  }

  .createpart{
    width: 50%;
    height: 200px;
    display: flex;
    align-items: center;
  }

  .create{
    width: 100%;
    height: 40%;
    background-color: #FCA702;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }

  .Pop_UpParent {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: #000000bd;
    display: flex;
  }

  .Update_PopUpMsg {
    width: 40%;
    height:350px;
    background: white;
    position: fixed;
    top: 20%;
    left: 50%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
      transition: 0.3s ease-in-out;
  }
