*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #08022F;
  
}

.header{
  width: 100%;
  height: max-content;
  /* background-color: whitesmoke; */
}

.topheader{
  width: 100%;
  height: 13vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: space-around;
}

.one{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.two{
  width: 45%;
  height: 100%;
}

.three{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

.one .image{
  width: 60px;
  height: 60px;
  object-fit: contain;
} 

.one .image img{
  width: 100%;
  height: 100%;
}

.one h1{
  font-size: 23px;
  color: rgb(22, 21, 21);
}

.two ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 550;
  color: rgb(22, 21, 21);
}

.two ul li{
  list-style-type: none;
  cursor: pointer;
}

.two ul li:hover{
  color: rgb(36, 11, 173);
}

.three .btn-one{
  width: 43%;
  height: 50%;
  /* background-color: white; */
  border: 2px solid #193E7F;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
}


.three .btn-two{
  width: 43%;
  height: 50%;
  background-color: #303482;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.three .btn-one:active{
  transition: 300ms ease-in;
  box-shadow: 0 5px #666;
  transform: translatey(4px);
}

.three .btn-one:hover{
  background-color: #303482;
  color: white;
  transition: 0.6s;
}


.three .btn-two:active{
  transition: 300ms ease-in;
  box-shadow: 0 5px #666;
  transform: translatey(4px);
}

.three .btn-two:hover{
  background-color: #303482;
  color: white;
}

.hero-section{
  width: 100%;
  height: 700px;
  /* background-image: url(./image/partyimage-one.webp); */
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section .event-result{
  width: 70%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
}

.hero-section .event-result .discription{
  width: 94%;
  height: 40%;
  color: white;
  
}

.menu{
  display: none;
}

.hero-section .event-result .search-event{
  width: 95%;
  height: 26%;
  color: white;
  display: flex;
  align-items: center;
}

.hero-section .event-result .search-event input{
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
  outline: none;
  padding-left: 35px;
}


.hero-section .event-result .discription h1{
  font-size: 30px;
  font-weight: 750;
  margin-bottom: 15px;
}

.hero-section .event-result .discription h2{
  font-size: 22px;
  font-weight: 500;
}

.hero-section .event-result .search-event .search-bar{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
}

.see-result2{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-section .event-result .search-event .see-result{
  width: 45%;
  height: 100%; 
  background-color: #303482;
  color: white;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}  

.see-result:active{
  transition: 300ms ease-in;
  box-shadow: 0 5px #666;
  transform: translatey(4px);
}

.see-result:hover{
  background-color: #303482;
  color: white;
}

.hero-section .event-result .search-event .see-result .arrow{
  margin-left: 10px;
  font-size: 15px;
}
.hero-section .event-result .search-event .search-bar .searchin{
 font-size: 20px;
 position: absolute;
 left:6%;
 color: rgb(39, 37, 37);
}

.hero-section .event-result .search-event .search-bar h6{
  font-size: 13px;
}

.list{
  display: none;
} 

.our-service{
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 4%;
}

.service-div{
  width: 100%;
  height: 10%;
  color: white;
  padding-left: 4%;
  display: flex;
  align-items: flex-end;
}

.holder1{
  width: 100%;
  height: 100%;
}

.arrow-down{
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 4px;
}

.service-containers1{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 11.5%;
  margin-top: 1%;
  
}

.main-serice{
  width: 23%;
  height: 90%;
  border-radius: 8px;
  background-color: #3a3a3a94;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-inline:25px;
  /* gap: 10%; */
}

.main-serice:hover {
  box-shadow: 0px 0px 30px 1px rgba(3, 10, 104, 0.479);
}

.main-serice h1{
  font-size: 25px;
  color: #FCA702;
  /* padding-top: 5%; */
}

.main-serice img{
  width: 30%;
  height: 30%;
}

.main-serice p{
  /* width: 80%; */
  font-size: 16px;
}
.our-category{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.category-div{
  width: 100%;
  height: 15%;
  color: white;
  padding-left: 3.5%;
  display: flex;
  align-items: flex-end;
  margin-top: 100px;
}

.category-discription{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: end;
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
}
.arrow-down{
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 4px;
}

.category-containers{
  width: 93%;
  height: max-content;
  display: flex;
  /* justify-content: space-between; */
  gap: 2.5%;
  /* background-color: red; */
  align-items: center;
  flex-wrap: wrap;

}

.main-category{
  width: 23%;
  height: 400px;
  border-radius: 6px;
  background-color: whitesmoke;
  position: relative;
  margin-bottom: 35px;
}

.main-category:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.7s;
}

.category-image{
  width: 100%;
  height: 50%;
  background-color: aqua;
  border-radius: 6px 6px 0px 0px;
  display: flex;
  justify-content: end;
  align-items: end;
  object-fit: contain;
}

.category-image img{
  width: 100%;
  height: 100%;
  border-radius: 6px 6px 0px 0px;;
}

.FAQ-container{
  width: 100%;
  height: max-content;
  display: flex;
  margin-bottom: 30vh;
  flex-direction: column;
}

.frequently-ask{
  width: 95%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.FAQ-holder{
  width: 96%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 47px;
}

.questions{
  padding-block: 35px;
  background-color: #3a3a3a94;
  border-radius: 7px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  justify-content: space-between;
  padding-inline: 30px;
}

.questions:hover{
 cursor: pointer;
 background-color: #79757594;
transition: all 0.6s;
}

.FAQ-drop{
  font-size: 25px;
}

.holderwrap1{
  width: auto;
  height: 100%;
}

.holder2{
  width: 100%;
  height: max-content;
  /* overflow-x: auto; */
   /* flex-wrap: wrap; */
}


.inner-holder2{
  width: 100%;
  height: max-content;
  justify-content: center;
  display: flex;

}

.holder2::-webkit-scrollbar{
  display: none;
}

.footer{
  width: 100%;
  height: 280px;
  background-color: #3a3a3a94;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.social-media{
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.details{
  width: 100%;
  height: 20%;
  border-bottom: 1px solid rgb(119, 117, 117);
}

.date{
  width: 95%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.date h3{
  font-size: 10px;
}

.s-b-holder{
  width: 20%;
  height: 90%;
  display: flex;
  align-items: center;
}

.logo{
  width: 50px;
  height: 50px;
}

.logo img{
  width: 100%;
  height: 100%;
}

.social-media h1{
  color: white;
  font-size: 21px;
}

.social-image{
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.all-social-media{
  font-size: 30px;
  color: white;
}

.details ul{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10%;

}

.details ul li{
  list-style-type: none;
  color: white;
  font-size: 14px;
}

.uploading{
  width: 100%;
  height: 9 0vh;
  background-color: red;
}

.how h5{
  font-size: 14px;
  color: #FCA702;
 
}

.how {
  background-color: #3a3a3a94;
  padding-block: 2%;
  display: flex;
  align-items: center;
  padding-inline: 2%;
  border-radius: 10px;
}

a{
  color: black;
  text-decoration: none;
}

.love{
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: absolute;
  right: 17%;
  bottom: 50%;
  color: rgb(212, 208, 208);
  cursor: pointer;
}

.love2{
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: absolute;
  right: 5%;
  bottom: 50%;
  color: rgb(34, 32, 32);
  cursor: pointer;
}

.dateandprice{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.thedate{
  display: flex;
  gap: 10px;
}

.theprice{
  display: flex;
  gap: 10px;
}

.locationandeventname{
  width: 100%;
  height: 40%;
  
}

.locationandeventname h4{
  padding-top: 15px;
  color: rgb(51, 50, 50);
  font-weight: 550;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 0;
  justify-content: start;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  font-size: 20px;
  color: rgba(187, 183, 183, 0.726);
  margin: 0 2px;
  cursor: pointer;
}

.rating label:before {
  content: "\2605";
}

.rating input[type="radio"]:checked ~ label:before {
  /* content: "\2606"; */
  color: #FCA702;
}

.directiontodifferentpage{
  display: none;
}