*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.VerifyHolders{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.VerifyHolder{
    height: 100vh;
    width: 100%;
    background-color:#08022F;
    /* background-color: black; */
}
.VerifyEmailAndLogoHolder{
    height: 50%;
    width: 100%;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15%;
}
.VerifyEmailText{
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    color: aliceblue;
    font-weight: lighter;
}
.VerifyEmailText:hover{
    border-radius: 3px;
    color: #FCA702;
    cursor: pointer;
    transition: all 850ms
}
.VerifyLogo{
    width: 8%;
}
.CheckYourEmailAndResend{
    height: 20%;
    width: 100%;
    /* background-color: chartreuse; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 7%;
}
.VerificationText{
    font-family:  'Roboto', sans-serif;
    font-size: 14px;
    color: aliceblue;
    font-weight: lighter;
}
.VerificationText:hover{
    border-radius: 3px;
    color: #FCA702;
    cursor: pointer;
    transition: all 850ms
}
.ResendButton{
    width:10%;
    height: 23%;
    background-color: #FCA702;
    /* background-color: orangered; */
    border: none;
    border-radius: 3px;
    color: aliceblue;
    font-size:   'Roboto', sans-serif;
    font-size: 11px; 
    cursor: pointer;
    transform: scale(1);
}
.ResendButton:hover{
    transform: scale(1.05);
    transition: all 250ms ease-in;
    background: aliceblue;
    color:#2E2A48;
}


@media screen and (max-width:900px) {
    .ResendButton{
        width:20%;
        
    }
}
@media screen and (max-width:500px) {
    .ResendButton{
        width:40%;
        
    }
    .VerifyLogo{
        width:13%;
}
}