*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.VerifyHolders{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.VerifyHolder{
    height: 100vh;
    width: 100%;
    background-color:#08022F;
    /* background-color: black; */
}
.VerifyEmailAndLogoHolder{
    height: 50%;
    width: 100%;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15%;
}
.VerifyEmailText{
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    color: aliceblue;
    font-weight: lighter;
}
.VerifyEmailText:hover{
    border-radius: 3px;
    color: #FCA702;
    cursor: pointer;
    transition: all 850ms
}
.VerifyLogo{
    width: 8%;
}
.CheckYourEmailAndResend{
    height: 20%;
    width: 100%;
    /* background-color: chartreuse; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 7%;
}
.VerificationText{
    font-family:  'Roboto', sans-serif;
    font-size: 14px;
    color: aliceblue;
    font-weight: lighter;
}

@media screen and (max-width:900px) {
    .VerificationText{
        font-size: 13px;
    }
}
