*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ResetMainHolder{
    height: 100vh;
    width: 100%;
    background : url(/vector5.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ResetHolder{
    height: 100%;
    width: 100%;
    background-color: #08022fb7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ResetLogo{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ResetImage{
    width: 17%;
}


.ResetPassword{
    font-family:  'Roboto', sans-serif;
    font-size: 22px;
    color: aliceblue;
    font-weight: bolder;
    text-align: center;
}
.ResetPassword:hover{
    border-radius: 3px;
    color: #FCA702;
    cursor: pointer;
    transition: all 850ms
}

.ResetnewPassword{
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
    color: aliceblue;
    font-weight: lighter;
    margin-bottom: 10px;
}

.ResetInputt{
    height: 47px;
    width: 100%;
    border: none;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 4px;
    color: aliceblue;
    outline: none;
}
.ResetEye{
    color: white;
    position: absolute;
    left: 80%;
    top: 25%;
}

.ResetButton{
    background-color: #FCA702;
    border: none;
    height: 45px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.ResetButton:active{
    transition: 300ms ease-in;
    box-shadow: 0 5px #666;
    transform: translatey(4px);
}
  
.ResetButton:hover{
    /* background-color: #303482; */
    color: white;
    transition: 0.6s;
}



.resetrapper{
    width: 25%;
    height: 55%;
    /* background-color: #2E2A48; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
