
@media screen and (max-width:776px) {
    .ResetPassword{
        font-size: 9px;
        font-weight: lighter;
    }
    .ResetnewPassword{
        font-size: 8px;
    }
}

@media screen and (max-width:638px) {
    .ResetMainHolder{
       display: none;
    }
    .ResetMainHolderr{
        display: flex;
     }
    .ResetMainHolderr{
        height: 100vh;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ResetHolderr{
        height: 83%;
        width: 40%;
        background-color: #08022f;
        }
    .ResetLogoo{
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ResetImagee{
        width: 20%;
    }
    .ResetInputAndButtonHolderr{
        height: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10%;
    }
    .ResetPasswordd{
        font-family:  'Roboto', sans-serif;
        font-size: 12px;
        color: aliceblue;
        font-weight: lighter;
        text-align: center;
    }
    .ResetPasswordd:hover{
        border-radius: 3px;
        color: #FCA702;
        cursor: pointer;
        transition: all 850ms
    }
    .NewPasswordAndTextHolderr{
        width: 95%;
        height: 20%;
        position: relative;
    }
    .ResetnewPasswordd{
        font-family:  'Roboto', sans-serif;
        font-size: 8px;
        color: aliceblue;
        font-weight: lighter;
    }
    .ResetnewPasswordd:hover{
        border-radius: 3px;
        color: #FCA702;
        cursor: pointer;
        transition: all 850ms
    }
    .ResetInputtt{
        height: 45%;
        width: 100%;
        border: none;
        background-color: transparent;
        border-radius: 4%;
        border-bottom: 1px solid grey;
        color: aliceblue;
        outline: none;
        cursor: pointer;
    }
    .ResetInputtt:hover{
        border: 1px solid grey;
    }
    .ResetEyee{
        color: white;
        position: absolute;
        left: 80%;
        top: 17%;
        }
    .ResetButtonn{
        width:95%;
        height: 10%;
        background-color: #FCA702;
        border: none;
        border-radius: 3px;
        color: aliceblue;
        font-size:   'Roboto', sans-serif;
        font-size: 11px; 
        cursor: pointer;
        transform: scale(1);
    }
    .ResetButtonn:hover{
        transform: scale(1.05);
        transition: all 250ms ease-in;
        background: aliceblue;
        color: #2E2A48;
}

}
