@media only screen and (max-width:767px) {

    .resetrapper{
     width: 80%;
   }
 
   
   .ResetButton{
     height: 60px;
   }
 
   .ResetInputt{
     height: 60px;
   }
 }
 
 @media only screen and (min-width:768px) and (max-width : 1024px) {
     .resetrapper{
         width: 60%;
         height: 45%;
       }
 
       .ResetButton{
         height: 60px;
       }
 
       .ResetInputt{
         height: 60px;
       }
 }