*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ReportHolder{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.753);
    align-items: center;
}

.Report{
    height: 80vh;
    width: 60%;
    background-color: whitesmoke;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ReportEvent{
    height: 12%;
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgba(237, 237, 237, 0.956);
}

.ReportTextHolder{
    height: 100%;
    width: 92%;
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.ReportH2{
      color: rgb(57, 52, 52);
      font-weight: bold;
      font-family:  'Roboto', sans-serif;
      font-size: 20px;
      /* text-align: center; */
}
.ReportCancelHolder{
    height: 100%;
    width: 8%;
    background-color: whitesmoke;
    display: flex; justify-content: center; align-items: center;
}

.CancelSpan{
    color: rgb(57, 52, 52);
    font-weight: bold;
    font-family:  'Roboto', sans-serif;
    font-size: 25px;
}
.OurDomain{
    height: 20%;
    width: 95%;
    /* background-color: darkcyan; */
    display: flex; justify-content: center; align-items: center;
    
}

.OurDomainText{
    color: rgb(25, 22, 22);
    font-weight: lighter;
    font-family:  'Roboto', sans-serif;
    font-size: 14px;
    word-spacing: 6px ;
    /* background-color: red; */
    
}


.TheOrganizer{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* background-color: crimson; */
}

.TheOrganizerOne{
    height: 45%;
    width: 88%;
    display: flex; justify-content: center; align-items: center;
}
.TheOrganizerTwo{
    height: 45%;
    width: 88%;
    display: flex; justify-content: center; align-items: center ;

}

.StartReport{
    height: 30%;
    width: 90%;
    /* background-color: lime; */
}

.StartButt{
    height: 75%;
    width: 20%;
    border: none;
    outline: none;
    font-weight: lighter;
    border-radius: 3px;
    background: #023064;
    transform: scale(1);
    color: whitesmoke;
    cursor: pointer;
    font-size: 14px;
    font-family:  'Roboto', sans-serif;
}

.Reportt{
    height: 95vh;
    width: 65%;
    background-color: whitesmoke;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    display: flex;
    flex-direction: column;
}

.ReportEventt{
    height: 12%;
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgba(237, 237, 237, 0.956);
}

.ReportTextHolderr{
    height: 100%;
    width: 92%;
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.ReportH22{
      color: rgb(57, 52, 52);
      font-weight: bold;
      font-family:  'Roboto', sans-serif;
      font-size: 20px;
      /* text-align: center; */
}

.ReportCancelHolderr{
    height: 100%;
    width: 8%;
    background-color: whitesmoke;
    display: flex; justify-content: center; align-items: center;
}

.CancelSpann{
    color: rgb(57, 52, 52);
    font-weight: bold;
    font-family:  'Roboto', sans-serif;
    font-size: 25px;
    cursor: pointer;
}

.ItsHoldingAllOfThem{
    height:90% ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.ResonForReport{
    height: 45vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
}

.ReasonText{
    height:12% ;
    width: 100%;
    font-size: 14px;
    font-weight: lighter;
    font-family:  'Roboto', sans-serif;
}
.Report_Reasons{
    height:7% ;
    width: 100%;
}
.Report_Reasons label input{
   cursor: pointer;
}

/* .Harmful{
    height:7% ;
    width: 100%;
}
.Illegal{
    height:7% ;
    width: 100%;
}
.Spam{
    height:7% ;
    width: 100%;
}
.Sex{
    height:7% ;
    width: 100%;
}
.Hateful{
    height:7% ;
    width: 100%;
}
.Violence{
    height:7% ;
    width: 100%;
}
.Canceled{
    height:7% ;
    width: 100%;
}
.Request{
    height:7% ;
    width: 100%;
}
.Copyright{
    height:7% ;
    width: 100%;
} */
.YourEmail{
    height: 18%;
    width: 95%;
    /* background-color: rgb(139, 0, 102); */
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.ReportEmail{
    all: unset;
    height: 45%;
    width: 40%;
    border: 1px solid rgb(222, 215, 215);
    padding: 6px;
}
.ReportDescription{
    height: 22%;
    width: 95%;
    /* background-color: rgb(0, 139, 137); */
}

.ReportDes{
    height: 25%;
    width: 45%;
    padding: 6px;
    border: 1px solid black;
    display: flex;
    align-self: flex-start;
    background-color: transparent;
    margin-left: 5%;
}

.ReportDes:focus{
    background-color: #023064;
    color: white;
}

.SubmitAndGoBack{
    height: 15%;
    width: 95%;
    /* background-color: rgb(74, 139, 0); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.ReportButton{
    height: 75%;
    width: 20%;
    border: none;
    outline: none;
    font-weight: lighter;
    background: #023064;
    border-radius: 3px;
    transform: scale(1);
    color: whitesmoke;
    cursor: pointer;
    font-size: 14px;
    font-family:  'Roboto', sans-serif;
}

.GoBackText{
    font-size: 14px;
    font-weight: bolder;
    color: #023064;
    font-family:  'Roboto', sans-serif;
    cursor: pointer;
}
.GoBackText:hover{
    text-decoration: underline;
}