
/* 
body{
    height: max-content; */
    /* background-color:#08022F;  */
    /* display: flex;
    flex-direction: column;
    gap: 10%; */
    /* } */

.aboutPageHolder{
    height: 300vh;
    background-color:#08022F; 
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5%;

}



.aboutPage{
    height: 90vh;
    width: 100%;
    background: url("./src/assets/Middle.jpg");
    display: flex;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    padding-block: 2%;
    position: relative;

   
}

.aboutUs{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    animation: backInRight;
    animation-duration: 3s;


}
.aboutCreativent{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
   animation: backInLeft;
   animation-duration: 3s;
}

.aboutAll{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 15%; */
    

} 



.aboutUsPictureHolder{
    height: 50vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
}
.aboutUsPictureHolderLeft{
    height: 100%;
    width: 100%;
    background: url("./src/assets/Smile.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.aboutUsPictureHolderLeftText{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
   
}
.aboutUsPictureHolderRight{
    height: 100%;
    width: 100%;
    background-color: #878785;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
    gap: 3%;
    padding: 5%;
}

.aboutTextFirst{
    color: #f9f0f0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-shadow: 1px 3px grey;
}
.aboutTextSecond{
    color: #f9f0f0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-shadow: 1px 3px grey;
}
.aboutTextThird{
    color: #f9f0f0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    text-shadow: 1px 3px grey;
}

.aboutAllMiddleText{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 5.5%;
}

.aboutUsSecondpictureHolder{
    height: 50vh;
    width: 100%;
    /* background-color: coral; */
    display: flex;
}

.aboutUsSecondpictureHolderLeft{
    height: 100%;
    width: 100%;
    background: url("./src/assets/Dance.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutUsSecondpictureHolderLeftText{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.aboutUsSecondpictureHolderRight{
    height: 100%;
    width: 100%;
    background: url("./src/assets/Hand.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.aboutUsSecondpictureHolderRightText{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
}
