*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ExploreHolder{
  height: 100vh;
  width: 100%;
  background: url(/vector5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8%;
}

.exploreinnerholder{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
color: white;
z-index: 999;
}


.ExploreLogo{
  width: 90px;
  height: 90px;  
}

.ExploreText{
  font-family:  'Roboto', sans-serif;
  font-size: 20px;
  color: aliceblue;
  font-weight: lighter;
 text-shadow:  2px 2px 2px rgb(20, 244, 242, );
 animation :backInLeft;
 animation-duration: 5s;
 z-index: 999;

}

.ExploreButton {
  min-width: 270px;
  min-height: 50px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: aliceblue;
  background: #fca702;
background: linear-gradient(90deg, rgba(252,167,2,1) 0%, rgba(252,167,2,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(252,167,2,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  animation: zoomIn;
  animation-duration: 10s;
  }

  .mirrow{
    width: 100%;
    height: 100vh;
    background-color: #08022f8f;
    position: absolute;
    
  }

.ExploreButton::before {
content: '';
  border-radius: 1000px;
  min-width: calc(280px + 10px);
  min-height: calc(60px + 10px);
  border: 6px solid #fca702;
  box-shadow: 0 0 60px rgba(252,167,2,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.ExploreButton:hover, .ExploreButton:focus {
  color: aliceblue;
  transform: translateY(-6px);
}

.ExploreButton:hover::before, .ExploreButton:focus::before {
  opacity: 1;
}

.ExploreButton::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #fca702;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

/* .ExploreButton:hover::after, .ExploreButton:focus::after {
  animation: none;
  display: none;
} */

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
}
}