
@media screen and (max-width:900px) {
    .ExploreHolder{
        background: url(/vector5.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        background-attachment: fixed;
       
    }
    .ExploreLogo{
        width: 80px;
        
    }
    .ExploreText{
        font-size: 26px;
    
    }
    .ExploreButton{
        min-width: 300px;
        min-height: 50px;
        font-size: 18px;
       
    }
    .ExploreButton::before {
        content: '';
          border-radius: 1000px;
          min-width: calc(200px + 10px);
          min-height: calc(50px + 10px);
          border: 6px solid #fca702;
          
        }
}

@media screen and (max-width:600px) {
    .ExploreHolder{
        background: url(/vector5.png);
       
    }
    .ExploreLogo{
        width: 80px;
        
    }
    .ExploreText{
        font-size: 26px;
    
    }
    .ExploreButton{
        min-width: 200px;
        min-height: 25px;
        font-size: 12px;
       
    }
    .ExploreButton::before {
        content: '';
          border-radius: 1000px;
          min-width: calc(100px + 7px);
          min-height: calc(30px + 7px);
          border: 6px solid #fca702;
}
}
